@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #f4eeff;
  --color-pink: #5e63b6;
  --color-gray: #a393eb;
  --color-white:#27296d;
}

:root {
  font-family: "Ubuntu", monospace, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;

  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--color-white);
  background-color: var(--color-black);
}

a {
  transition: 0.15s all ease-in;
  border-bottom: 1px dotted transparent;
}

a:hover {
  color: var(--color-gray);
  border-color: var(--color-pink);
}
